@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
/* Reset styles */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a,img, small, strike, strong,
b, u, i, center,
table, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, hgroup,
menu, nav, output {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main styles */
body {
  background: #fff url('/images/bg.jpg') center top no-repeat;
  color: #595959;
  font-size: 15px;
  font-family: Ubuntu,arial,sans-serif;
  font-weight: normal;
  line-height: 1.5;
}
h1 {
  margin: 0;
  color: #004788;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
a {
  color: #ff6600;
  text-decoration: underline;
}
header {
  padding: 25px 0;
}
header img {
  height: auto;
  max-width: 100%;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
.box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
.box p {
  padding: 1em 0;
}
.download {
  padding: 20px 0;
  text-align: center;
}

.download  .btn {
  margin: 5px 10px;
  display: inline-block;
  color: #fff;
  border: 0;
  padding-top: calc(0.4em + 2px);
  padding-bottom: calc(0.4em + 2px);
  background-color: #f2664f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2664f), color-stop(50% #ff1b46), color-stop(100% #df4ea1));    background-image: -webkit-linear-gradient(top, #f2664f 0, #ff1b46 50%, #df4ea1 100%);
  background-image: -moz-linear-gradient(top, #f2664f 0, #ff1b46 50%, #df4ea1 100%);
  background-image: -ms-linear-gradient(top, #f2664f 0, #ff1b46 50%, #df4ea1 100%);
  background-image: -o-linear-gradient(top, #f2664f 0, #ff1b46 50%, #df4ea1 100%);
  background-image: linear-gradient(to bottom, #f2664f 0, #ff1b46 50%, #df4ea1 100%);
  transition: all 250ms ease-in-out;
  display: inline-block;
  padding: 0.4em 20px;
  font-weight: bold;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid currentColor;
  border-radius: 999px;
  cursor: pointer;
}
.download  .btn svg {
  fill: #fff;
}

/* Responsive styles */
@media screen and (max-width: 1239px) {
  body {
    padding: 0 20px;
  }
  .container {
      width: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    text-align: center;
  }
  h1 {
    font-size: 30px;
  }
}
